DQPP_BASE_URL="http://rdjy.upc.edu.cn"
DQPP_AUTO_SUBMIT=true
DQPP_MIN_TRIES=1
DQPP_MAX_TRIES=5
DQPP_USERNAME=""
DQPP_PASSWORD=""
DQPP_DB_PATH="./party_school.db"
DQPP_HEADLESS=false
DQPP_DRIVER_PATH=""
